attrs==21.2.0
click==8.0.1
decorator==5.1.0
Flask==2.0.1
greenlet==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
multidict==5.1.0
mysql-connector==2.2.9
pbr==5.6.0
PyJWT==2.4.0
redis==3.5.3
six==1.16.0
SQLAlchemy==1.4.25
sqlalchemy-migrate==0.13.0
sqlparse==0.4.2
Tempita==0.5.2
Werkzeug==2.0.1
